#site-container{
 height:100%;
 display:flex;
 flex-direction: column;
}


#root{
  height:100vh;
  overflow:auto;
}

nav{
  width: 100%;
  height:100px;
  background-color: var(--chocolate);
  color:#ffffff;
}

.custom-link{
  color:#ffffff;
  font-weight: bolder;
 
}
.custom-link:hover{
 
 background-color: #ffffffaa;
 border-radius: 25%;
 
}
Link{
  color: green;
}

/*//////////////////////////////////////////////////////////////////
[ COLORS ]*/

:root{
  --chocolate:#C9683B;
  --yellow:#FFE89C;
  --light-yellow:#FEE9BE;
  --blue-grey:#92959E;
  --black:#111111;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap');

*{
  font-family: 'Playfair Display', serif;
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
  line-height: 1.3;
}

body, html {
	height: 100%;
}

/*---------------------------------------------*/
a {
	
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.link {
  font-size: 14px;
	line-height: 1.7;
  color: white;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: rgba(2, 3, 1, 0.149);
}

/*---------------------------------------------*/
h1,h3,h4,h5,h6 {
	margin: 0px;
}

h2 {
  color:var(--black);
  margin-left: 16px;
}

p {
	font-size: 14px;
	line-height: 1.7;
	color: #f0f0f0;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #555555;}
input:-moz-placeholder { color: #555555;}
input::-moz-placeholder { color: #555555;}
input:-ms-input-placeholder { color: #555555;}

textarea::-webkit-input-placeholder { color: #555555;}
textarea:-moz-placeholder { color: #555555;}
textarea::-moz-placeholder { color: #555555;}
textarea:-ms-input-placeholder { color: #555555;}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-size: 13px;
  color: #e76161;
  line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}




/*------------------------------------------------------------------
[ Input ]*/



/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #9c7313;
  background: -webkit-linear-gradient(left, #9c5a13, #d48c18, #356add);
  background: -o-linear-gradient(left, #d9dd13, #182ed4, #ddd735);
  background: -moz-linear-gradient(left, #15139c, #eba91b, #ddbe35);
  background: linear-gradient(left, #9c7813, #ed961e, #356add);
}

.focus-input100::after {
  font-family: Linearicons-Free;
  font-size: 18px;
  color: #e7611ed3;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 35px;
 

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}





/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/* Styling the pre-login forms such as Login and Register */

.pre-login-logo{
  content:url("../public/images/logo-white.svg");
  position:absolute;
  top:32px;
  left:32px;
  height:64px;
}

.pre-login-background{

    width:100%;
    min-height:100%;
    padding:32px;
    background-image: url("../public/images/login-background.png");
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.pre-login-form{
  margin:32px 0px;
  max-width: 600px;
 border-radius: 4px;
 padding: 64px;
 box-shadow: 0px 0px 20px 4px #00000055;
 background-color: var(--light-yellow);
 opacity:90%;
}

.pre-login-form-title {
  font-size: 42px;
  color: var(--black);
  font-weight:500;
  text-align:center;
  width:100%;
  display: block;
  margin-bottom:32px;
 }

 .pre-login-form-input-wrapper {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #d11515;
  padding: 29px 0;
}

.pre-login-form-input {
  font-size: 20px;
  color: var(--black);
  font-family: 'Roboto';

  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 0 10px 0 80px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.pre-login-form-button {
  margin-top:32px;
  font-size: 22px;
  font-weight:600;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
  font-family:'Roboto';
  font-weight:400;
 
  text-align:center;
  padding: 10px 80px;
  border-radius: 4px;
 
  background: var(--chocolate);

 
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
 }

 .pre-login-form-button:hover {
  opacity:1;
 }

 .pre-login-form-secondary-cta{
  color: var(--chocolate);
  font-size:18px;
  font-family:'Roboto';
  display:block;
  width:100%;
  text-align:center;
  margin-top:8px;
  padding: 10px 10px;
 }

 @media (max-width: 500px) {
  .pre-login-form{
    padding:16px;
  }
  .pre-login-logo{
    position: initial;
  }
 }
